@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --ff-head: "Manrope", sans-serif;
  --ff-main: "Open Sans", sans-serif;
  --clr-black: #000;
  --clr-white: #fff;
  --clr-green: #65e4a3;
  --clr-grey: #777;
  --clr-blue: #0a2640;
  --clr-light-grey: #f9f9f9;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: Manrope;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.container {
  margin: 0 auto;
  width: 85%;
}

header {
  /* background: url('assets/cutout.png') no-repeat top right, var(--clr-blue); */
  color: var(--clr-white);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 55px;
}

.mobile_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: var(--clr-white);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.mobile_nav > a {
  color: var(--clr-black);
  text-decoration: none;
  font-weight: 600;
}

.mobile_nav a:nth-of-type(4) {
  padding: 8px 40px;
  background-color: var(--clr-green);
  color: var(--clr-blue);
  border: 2px solid var(--clr-green);
  border-radius: 24px;
}

#closeNav {
  color: var(--clr-black);
  position: absolute;
  top: 60px;
  right: 25px;
}

#openNav {
  display: none;
  font-size: 24px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

nav li {
  list-style: none;
}

nav li > a {
  text-decoration: none;
  color: var(--clr-white);
  font-weight: 600;
}

nav li:nth-of-type(4) > a {
  padding: 8px 40px;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: 2px solid var(--clr-white);
  border-radius: 24px;
}

.hero {
  padding-bottom: 4rem;
}

.hero_main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero_content {
  max-width: 50%;
}

.hero_content > h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 400;
  padding-bottom: 1rem;
  font-family: var(--ff-head);
  max-width: 550px;
}

.hero_content > p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  max-width: 560px;
}

.hero_content > span {
  display: flex;
  padding-top: 2.5rem;
  align-items: center;
  gap: 1.5rem;
}

.hero_content > span button {
  padding: 1rem 3.5rem;
  border-radius: 3.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.hero_content > span button:first-of-type {
  background-color: var(--clr-green);
  border: 2px solid var(--clr-green);
}

.hero_content > span button:nth-of-type(2) {
  background-color: transparent;
  color: var(--clr-white);
  border: 2px solid var(--clr-white);
}

.hero_logos {
  padding-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: linear-gradient(45deg, var(--clr-blue) 0%, var(--clr-blue) 33%, transparent 33%, transparent 66%, var(--clr-blue) 66%, var(--clr-blue) 100%);
}

.hero_logos::-webkit-scrollbar {
  display: none;
}

.hero_logos > img {
  width: 120px;
  opacity: 0.9;
  margin-right: 4rem;
}

.services,
.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 5.25rem 7.5rem;
}

.services > h6,
.blog > h6 {
  color: var(--clr-grey);
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
}

.services > p,
.blog > p,
.email > h1 {
  font-family: var(--ff-head);
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 400;
  text-align: center;
  width: 70%;
}

.services_service {
  padding-block: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.25rem;
}

.services_service > article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services_service > article h3 {
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  padding-top: 1.5rem;
  padding-bottom: 0.8rem;
}

.services_service > article p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--clr-grey);
  padding-bottom: 1.75rem;
}

.services_service > article a {
  text-decoration: none;
  color: var(--clr-blue);
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
  border-bottom: 0.0625rem solid var(--clr-blue);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.services_service > article a:hover .icon {
  transform: translate(5px);
  transition: all 0.5s ease-out;
}

.cta-one,
.cta-two {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.cta-one {
  padding-block: 11rem 7.5rem;
}

.cta-two {
  flex-direction: row-reverse;
}

.cta-one_content,
.cta-two_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0.75;
}

.cta-one_content > h1,
.cta-two_content > h1 {
  font-size: 2.25rem;
  width: 500px;
  line-height: 3.5rem;
  font-weight: 400;
  font-family: var(--ff-head);
}

.cta-one_points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-block: 2.5rem 3.5rem;
  width: 100%;
}

.cta-one_points > span {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cta-one_points > span .icon {
  font-size: 32px;
  color: var(--clr-blue);
}

.cta-two_points > span .icon {
  font-size: 22px;
  color: var(--clr-blue);
}

.cta-one_points > span .icon,
.cta-two_points > span .icon,
.cta-three_accordion > span .icon {
  flex-shrink: 0;
}

.cta-one_points > span p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
}

.cta-one_content > button {
  padding: 1rem 3.5rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
  border: 2px solid var(--clr-blue);
  border-radius: 3.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.cta-two_points {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  padding-top: 2rem;
  width: 100%;
}

.cta-two_points > span {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.3rem 1.3rem;
  width: 100%;
  background-color: var(--clr-white);
  box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  transition: all 400ms ease;
}

.cta-two_points > span:hover {
  background-color: var(--clr-blue);
  color: var(--clr-white);
  cursor: pointer;
}

.cta-one_points > span p {
  font-size: 1.4rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.cta-two_points > span p {
  font-size: 1.1rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.testimonials {
  padding-block: 6rem;
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.testimonials_heading {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}

.testimonials_heading h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-family: var(--ff-head);
  font-weight: 400;
  max-width: 70%;
}

.testimonials_heading span > .icon {
  color: var(--clr-white);
  font-size: 64px;
  cursor: pointer;
}

.testimonials_heading span {
  display: flex;
  gap: 1.5rem;
}

.testimonials_main {
  padding-top: 4.5rem;
  display: flex;
  gap: 1.38rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testimonials_main::-webkit-scrollbar {
  display: none;
}

.testimonials_main > article {
  padding: 2.5rem;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border-radius: 0.75rem;
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.12);
  height: fit-content;
}

.testimonials_main > article p {
  font-size: 1.5rem;
  line-height: 2.25rem;
  width: 290px;
  white-space: pre-wrap;
}

.testimonials_profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2.5rem;
}

.testimonials_profile > img {
  width: 3.625rem;
  height: 3.635rem;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.testimonials_profile > span p:first-of-type {
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

.testimonials_profile > span p:nth-of-type(2) {
  font-size: 0.875rem;
  line-height: 2rem;
  font-weight: 400;
}

.disabled {
  opacity: 0.7;
  color: var(--clr-grey);
  cursor: not-allowed !important;
}

.cta-three {
  padding-block: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

.cta-three > img {
  width: 100%;
}

.cta-three_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 150px;
}

.cta-three_content > h1 {
  font-family: var(--ff-head);
  font-size: 2.25rem;
  line-height: 3.5rem;
  font-weight: 400;
  max-width: 500px;
}

.cta-three_accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 0.0625rem solid #c4c4c4;
  padding-bottom: 1rem;
  margin-top: 20px;
}

.cta-three_accordion > span {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.cta-three_accordion > span .icon {
  font-size: 24px;
}

.cta-three_accordion > span p {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 400;
  width: 28rem;
}

.cta-three_accordion > p {
  width: 28rem;
}

.blog {
  padding-block: 9rem 0;
}

.blog_articles {
  padding-block: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.12rem;
}

.blog_articles article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.blog_articles article span:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog_articles article span:first-of-type p:first-of-type,
.blog_articles article span:first-of-type p:nth-of-type(2) {
  color: var(--clr-blue);
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.blog_articles article span:first-of-type p:nth-of-type(2) {
  color: var(--clr-grey);
  font-weight: 400;
}

.blog_articles article span:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.blog_articles article span:nth-of-type(2) img {
  flex-shrink: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.blog_articles article span:nth-of-type(2) p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.blog_articles article > p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  height: 6rem;
}

.blog > button {
  margin-top: 3rem;
  padding: 1rem 3.5rem;
  border: 2px solid var(--clr-blue);
  border-radius: 3.5rem;
  background: transparent;
  font-size: 1.25rem;
  color: var(--clr-blue);
  font-weight: 700;
  cursor: pointer;
}

.blog button:hover {
  background-color: var(--clr-black);
  color: var(--clr-white);
  transition: background 0.5s linear;
}

.email {
  background: url("assets/cutout2.png") no-repeat top right, var(--clr-blue);
  background-size: contain;
  color: var(--clr-white);
  margin-block: 5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-block: 4.5rem;
  border-radius: 0.75rem;
}

.email_form {
  padding-top: 3rem;
}

.email_form > input {
  padding: 0.75rem 2rem;
  border-radius: 15rem;
  outline: none;
  border: 0;
  width: 23rem;
  margin-right: 1.5rem;
}

.email_form > button {
  padding: 0.75rem 3.5rem;
  border: 2px solid var(--clr-green);
  border-radius: 3.5rem;
  background-color: var(--clr-green);
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: var(--clr-blue);
  font-weight: 700;
}

::placeholder {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  color: var(--clr-black);
}

footer {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  padding-block: 6rem;
}

.footer_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_main > img {
  margin-bottom: 2.5rem;
}

.footer_main p:first-of-type {
  margin-bottom: 3rem;
  max-width: 70%;
}

.footer_main > p {
  columns: var(--clr-grey);
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
}

.footer_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer_section ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.footer_section ul li > a {
  text-decoration: none;
  color: var(--clr-grey);
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
}

.footer_section ul li > a:hover {
  color: var(--clr-blue);
}

.footer_section > h4 {
  padding-bottom: 2rem;
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
}

.footer_section:nth-of-type(3) ul li:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 0.88rem;
}

.footer_section:nth-of-type(3) ul li:nth-of-type(2) > button {
  background: var(--clr-green);
  border-radius: 7.5rem;
  padding: 0.0625rem 0.875rem;
  border: 0.1px solid var(--clr-green);
  font-size: 0.8125rem;
  line-height: 1.75rem;
  color: var(--clr-blue);
  font-weight: 700;
  cursor: auto;
}

.AppWrapper {
  max-width: 1600px;
  margin: auto;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 1350px) {
  .container {
    width: 90%;
  }

  .services_service {
    column-gap: 2.25rem;
  }

  .cta-one_content > h1,
  .cta-two_content > h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 1220px) {
  .hero_main {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  .hero_content {
    max-width: 80%;
  }

  .cta-one,
  .cta-two {
    flex-direction: column;
  }

  .cta-one,
  .cta-two {
    gap: 1.5rem;
  }

  .cta-one {
    padding-block: 5rem;
  }

  .services_service > article a,
  .services_service > article p {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .services_service > article p {
    padding-bottom: 1rem;
    width: 70%;
  }

  .cta-three_content {
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: flex-start;
    height: 300px;
  }

  .cta-three_accordion > span p {
    width: 90%;
  }
}

@media screen and (max-width: 1090px) {
  .blog_articles article > p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    height: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .testimonials_heading > h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .testimonials_profile > span p:first-of-type,
  .testimonials_profile > span p:nth-of-type(2) {
    font-size: 0.75rem;
    line-height: 1.5rem;
  }

  .blog {
    padding-top: 5rem;
  }

  .services_service,
  .blog_articles {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding-top: 3rem;
  }

  .services_service > article {
    margin: 0 auto;
    width: 80%;
  }

  .blog_articles {
    padding-top: 3rem;
  }

  .blog_articles > article {
    gap: 1rem;
    margin: 0 auto;
    width: 50%;
  }

  .blog_articles article span:nth-of-type(2) {
    padding-top: 0.5rem;
  }

  .services > h6,
  .blog > h6 {
    font-size: 0.95rem;
    line-height: 1.5rem;
  }

  .services > p,
  .blog > p,
  .email > h1 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  nav ul {
    display: none;
  }

  #openNav {
    display: block;
  }

  .testimonials_main article > p {
    font-size: 1rem;
    line-height: 1.45rem;
  }

  .email_form > input {
    width: unset;
    margin-right: 0.75rem;
  }

  .email_form > button {
    padding: 0.75rem 2rem;
  }

  footer {
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding-block: 4rem;
  }

  .footer_main p:first-of-type {
    margin-bottom: 2rem;
  }

  .footer_section ul li > a {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .footer_section > h4 {
    padding-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .footer_section ul {
    gap: 1.3rem;
  }

  .footer_main > p {
    font-size: 0.85rem;
    line-height: 1.5rem;
  }

  .footer_main > img,
  .footer_main p:first-of-type {
    margin-bottom: 1.5rem;
  }

  .footer_main p:first-of-type {
    max-width: 45%;
  }
}

@media screen and (max-width: 900px) {
  .testimonials_main {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .testimonials_main > article {
    padding: 1rem;
  }

  .hidden-900 {
    display: none;
  }

  .testimonials_heading > h1 {
    max-width: 100%;
  }

  .cta-three_content {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .cta-one_content,
  .cta-two_content {
    width: 100%;
  }

  .cta-one_content > h1,
  .cta-two_content > h1 {
    width: unset;
  }

  .hero_content {
    max-width: 95%;
  }

  .cta-three_content {
    height: 450px;
  }

  .cta-three_accordion > p {
    width: 22rem;
  }
}

@media screen and (max-width: 600px) {
  .services > p,
  .blog > p {
    font-size: 170%;
    line-height: 170%;
  }

  .blog_articles > article {
    width: 90%;
  }

  .services > p,
  .blog > p,
  .email > h1 {
    width: 100%;
  }

  .services_service > article p {
    width: 90%;
  }

  .cta-one_points > span p,
  .cta-three_accordion > span p {
    font-size: 1.1rem;
  }

  .cta-two_points > span {
    width: 100%;
  }

  .cta-two_points > span p {
    font-weight: unset;
  }

  .footer_main p:first-of-type {
    max-width: 90%;
  }

  .hero_content > h1,
  .cta-three_content > h1,
  .email > h1,
  .cta-one_content > h1,
  .cta-two_content > h1,
  .testimonials_heading > h1 {
    font-size: 180%;
    line-height: 170%;
  }

  .cta-three_accordion > p {
    width: 28rem;
  }

  .cta-three > img {
    height: 10rem;
    object-fit: cover;
    border-radius: 1.5rem;
  }

  .hero_content > span {
    flex-direction: column;
  }

  .email {
    padding-inline: 1.5rem;
  }

  .email_form > input {
    margin-right: 0;
  }

  .email_form > button,
  .blog > button,
  .hero_content > span > button,
  .cta-one_content > button {
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.75rem 2.5rem;
  }

  .email_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
}

@media screen and (max-width: 500px) {
  .cta-three_accordion > p {
    width: unset;
  }
}
